@font-face {
    font-family: NunitoSans;
    src: url(""_NunitoSans_10pt.ttf"");
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'NunitoSans', sans-serif !important;
    background-color: rgb(32, 35, 42);
    height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 24px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: rgb(196, 143, 245);
}

.check-word {
    position: absolute;
    top: 0px;
    padding: 32px 0;
    width: 100%;
    font-size: 20px !important;
    color: #2b6cb0;
    text-align: center;
}

.type-word {
    position: absolute;
    bottom: 80px;
    min-width: 60vw;
}

#typeans {
    padding: 6px 8px !important;
    font-size: 18px !important;
    font-family: 'NunitoSans', sans-serif !important;
    border-radius: 8px;
    text-align: center;
}

.check-word #typeans {
    padding: 0 !important;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    color: #eee;
    margin: 0 60px;
}

.image-container {
    display: flex;
}

    .image-container img {
        max-width: 360px;
        border-radius: 8px;
    }

.content-container {
    display: flex;
    flex-direction: column;
}

.word-detail {
    font-size: 36px;
    font-weight: bold;
    color: rgb(253, 231, 205);
}

.suggestion {
    font-size: 18px;
    color: rgb(253, 231, 205);
}

.word-type {
    font-size: 16px;
    font-style: italic;
    color: rgb(201, 201, 201);
}

.replay-button svg {
    width: 18px;
    height: 18px;
}

.phonetic {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px !important;
    color: rgb(201, 201, 201);
}

.meaning {
    font-size: 18px;
    font-weight: 500;
    color: rgb(245, 143, 199);
}

.example {
    font-size: 16px;
    color: rgb(201, 201, 201);
}